
.calculation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculation__title {
  color: #000;
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 36px;
}

.calculation__div {
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  font-family: "Montserrat Alternates";
font-size: 12px;
margin-bottom: 36px;
}

.calculation__numbers {
  display: inline-flex;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
height: 35px;
width: 135px;
border: hidden;
border-radius: 20px;
background: #D7D7D7;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.calculation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
height: 60px;
width: 60px;
}

.calculation__item{
  display: inline-flex;
height: 25px;
width: 25px;
}

.calculation__btn{
  order: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
height: 25px;
width: 25px;
border-radius: 20px;
background: #000;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.calculation__box{
  display: inline-flex;
height: 25px;
width: 25px;
align-items: center;
justify-content: center;
gap: 10px;
border-radius: 20px;
background: #000;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
color: #fff;
}

.calculation__result {
  display: inline-flex;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
height: 35px;
width: 135px;
border: hidden;
border-radius: 20px;
background: #D7D7D7;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
color: #7E7E7E;;
}