.date-birthday {
  padding-left: 257px;
  padding-right: 257px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.date-birthday__title-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  padding-bottom: 36px;
}

.date-birthday__title {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

}

.stick {
  width: 536px;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
}

.date-birthday__title:first-child {
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date-birthday__box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 225px;
  height: 35px;
  background: #D7D7D7;
  overflow: hidden;
  padding-left: 10px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 36px;
}

.date-birthday__number {
  border: none;
  background-color: #D7D7D7;
  color: #7E7E7E;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  width: 90%;
}

.date-birthday__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #000;
}

.date-birthday__img {
  height: 18px;
  width: 18px;
}

.date-birthday__text {
  display: inline;
  margin-left: 149px;
  text-align: right;
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}