
.random-number {
  height: 160px;
  border: 1px, 0px, 1px, 0px;
  border-color: #000000;
  padding-left: 257px;
  padding-right: 257px;
  padding-bottom: 36px;
}

.random-number__title{
  color: #000;
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 36px;
  text-align: center;
}

.random-number__box{
  display: inline-flex;
  justify-content: space-between;
    align-items: center;
  border-radius: 20px;
  width: 165px;
  height: 35px;
  background: #D7D7D7;
  overflow: hidden;
padding-left: 10px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 36px;
}

.random-number__number{
  border: none;
  background-color: #D7D7D7;
  color: #7E7E7E;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  width: 75%;
}

.random-number__img{
  height: 18px;
  width: 18px;
}

.random-number__text{
  display: inline;
  margin-left: 202px;
  text-align: right;
font-family: "Montserrat Alternates";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.random-number__btn {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: #000;
}