.rsp {
    padding-bottom: 36px;
    text-align: center;

    &__title {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 36px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__mods {
        &-title {
            color: #000;
            font-family: "Montserrat Alternates";
            font-weight: 400;
            margin-bottom: 15px;
        }

        &-rang {
            color: #000;
            font-family: "Montserrat Alternates";
            font-weight: 400;
            margin-bottom: 10px;
        }

        &-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }

        &-instruction {
            border: none;
            border-radius: 20px;
            background: #000;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 25px;
            padding-left: 25px;
            color: #FFF;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.3);
            }
        }

        &-40seconds {
            border: none;
            border-radius: 20px;
            background: #000;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 15px;
            padding-left: 15px;
            color: #FFF;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.3);
            }
        }

        &-50points {
            border: none;
            border-radius: 20px;
            background: #000;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            color: #FFF;
            font-family: "Montserrat Alternates";
            font-size: 12px;
            font-weight: 400;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 104px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 38px;
    }


    &__button {
        padding: 10px;
        border-radius: 20px;
        background: #000;
        border: none;
        transition: all 0.3s;
    }

    &__button:hover {
        transform: scale(1.3) rotate(-45deg);
    }

    &__img {
        width: 40px;
        height: 40px;
    }

    &__catalog {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }


    &__text {
        color: #000;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        line-height: 1.7;
    }

    &__result {
        color: #039900;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    &__btn {
        border: none;
        border-radius: 20px;
        background: #000;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 36px;
        transition: all 0.3s;
    }

    &__btn:hover {
        transform: scale(1.3);
    }

    &__line {
        width: 536px;
        height: 1px;
        background-color: #000;
        margin: 0 auto;
    }

    &__audio {
        display: none;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

    &__modal {
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 600px;
        height: 250px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        opacity: 0;
        z-index: 3;

        &-title {
            color: #000;
            font-family: "Montserrat Alternates";
            font-weight: 400;
            margin-bottom: 35px;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
        }

    

        &-text {
            color: #000;
            font-family: "Montserrat Alternates";
            font-weight: 400;
            font-size: 18px;
        }

        &-close {
            color: #000;
            font-family: "Montserrat Alternates";
            font-weight: 400;
            font-size: 23px;
            position: absolute;
            top: 10px;
            right: 15px;
            background: transparent;
        }
    }
}