<section class="time-calculation">
    <div class="container">
        <h2 class="timeCalcul_title">Калькулятор часу</h2>
        <div class="row">
      <div class="calculator">
        <input class="time__input" type="number" id="hoursInput" placeholder="Введіть число">
        <button class="time__button">
          <img src="./img/photo/search.webp" alt="Пошук">
        </button>
      </div>
      <div class="dots">.......................</div>
      <div id="result">0 дн. 00:00:00</div>
    </div>
    </div>
</section>