<section class="calculation container">
  <h2 class="calculation__title">Калькулятор</h2>
  <div class="calculation__div">
    <input
      type="number"
      placeholder="Введіть число"
      class="calculation__numbers"
    />
    <ul class="calculation__list">
      <li class="calculation__item">
        <button class="calculation__btn plus">+</button>
      </li>
      <li class="calculation__item">
        <button class="calculation__btn multiply">*</button>
      </li>
      <li class="calculation__item">
        <button class="calculation__btn minus">-</button>
      </li>
      <li class="calculation__item">
        <button class="calculation__btn divide">/</button>
      </li>
    </ul>
    <input
      type="number"
      placeholder="Введіть число"
      class="calculation__numbers"
      id="number"
    />
    <div class="calculation__box">=</div>
    <p class="calculation__result">Результат</p>
  </div>
  <div class="stick"></div>
</section>