<section class="choose-number">
<div class="choose-number container">
<h2 class="choose-number-title">Введіть 3 числа</h2>
<ul class="choose-number-ul">
    <li><input id="choose-number-input-1" class="choose-number-input" type="number" placeholder="Введіть число"></li>
    <li><input id="choose-number-input-2" class="choose-number-input" type="number" placeholder="Введіть число"></li>
    <li><input id="choose-number-input-3" class="choose-number-input" type="number" placeholder="Введіть число"></li>
</ul>
<p class="choose-number-text" id="choose-number-text-1">Найбільше число, яке ви ввели - </p>
<p class="choose-number-text" id="choose-number-text-2">Найменше число, яке ви ввели - </p>
<p class="choose-number-text" id="choose-number-text-3">Середне число, яке ви ввели - </p>
</div>
</section>