<section class="date-birthday container">
  <div class="date-birthday__title-box">
    <h2 class="date-birthday__title">Популярні інетрактивні ігри</h2>
    <div class="stick"></div>
    <h2 class="date-birthday__title">Перевір в який рік ти народився</h2>
  </div>
  <div class="date-birthday__box">
    <input
      type="number"
      placeholder="Введіть рік народження"
      class="date-birthday__number"
    />
    <button class="date-birthday__button">
      <img
        src="./img/photo/search.webp"
        alt="search"
        class="date-birthday__img"
      />
    </button>
  </div>
  <p class="date-birthday__text">чекаємо на відповідь</p>
  <div class="stick"></div>
</section>