<section class="football-main-div">
  <div class="football-main-container">
    <div class="football-main-div game">
      <div class="container">
        <h2 class="football-h2">Футбол</h2>
        <p class="goal-counter">Голів: <span id="goal-count">0</span></p>
        <div id="field">
          <div class="goal">
            <div class="goalkeeper"></div>
          </div>
          <img src="https://en.js.cx/clipart/ball.svg" id="ball">
          <img src="./img/gate.png" class="goal" alt="Ворота">
        </div>
      </div>
    </div>
  </div>
</section>