<footer class="footer" id="footer">
    <div class="container footer__bex">
    <a href="./index.html" class="footer__logo">
        <img src="./img/photo/footer-logo.webp" alt="logo" class="logo__img">
    </a>
    <ul class="footer__list">
        <li class="footer__item">
            <p class="footer__text">Тел:<a href="tel:+381234567890" class="footer__link">+38 (123) 456 78 90</a></p>
        </li>
        <li class="footer__item">
            <p class="footer__text">E-Mail:<a href="mailto:codingmagic@gmail.com" class="footer__link">codingmagic@gmail.com</a></p>
        </li>
        <li class="footer__item">
            <p class="footer__text">Facebook:<a href="https://www.facebook.com/?locale=uk_UA" class="footer__link" target="_blank">CodingMagic</a></p>
        </li>
        <li class="footer__item">
            <p class="footer__text">Twitter:<a href="https://twitter.com/" class="footer__link" target="_blank">CodingMagic</a></p>
        </li>
        <li class="footer__item">
            <p class="footer__text">Instagram:<a href="https://www.instagram.com/" class="footer__link" target="_blank">CodingMagic</a></p>
        </li>
    </ul>
<div class="box">
    <form class="box__form">
    <ul class="box__list">
        <li class="box__item"><input type="email"  name="email"  placeholder="Ваша ел. адреса..." class="box__inp" required></li>
        <li class="box__item"><button type="submit" class="box__btn">Підписатись</button></li>
    </ul>
</form>
    <p class="box__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
</div>
</div>
</footer>