<section class="google-dino">
  <div class="container">
    <h2 class="title_dino">Google динозавр</h2>
    <div class="scoreRecord">
    <div id="score" class="score">Pахунок: 0</div>
    <div id="record" class="record">Ваш рекорд: 0</div>
    </div>
    <div class="gamee">
      <div id="dino"></div>
      <div id="cactus"></div>
    </div>
    <div class="dino-buttons">
      <button id="startBtn">Почати гру</button>
      <button id="restartBtn" style="display: none">Перезапустити</button>
    </div>
  </div>
</section>