<header class="header">
    <div class="container box">
        <a href="./index.html"><img src="./img/photo/logo.webp" alt="logo" class="header__logo"></a>
        <div class="header__box">
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item hover">
                        <p class="header__text">
                            Інтерактив
                            <img src="../img/photo/arrow.webp" alt="" class="header__ming">
                        </p>
                        <div class="header__modal">
                            <ul class="header__modal-list">
                                <li class="header__modal-item">
                                    <button type="button" class="header__modal-button b1">Числовий</button>
                                </li>
                                <li class="header__modal-item">
                                    <button type="button" class="header__modal-button b2">Ігровий</button>
                                </li>
                                <li class="header__modal-item">
                                    <button type="button" class="header__modal-button b3">Ознайомчий</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__item">
                        <a href="#our__team" class="header__text">Наша команда</a>
                    </li>
                    <li class="header__item">
                        <a href="#footer" class="header__text">Контакти</a>
                    </li>
                </ul>
            </nav>
            <ul class="header__catalog">
                <li class="header__products">
                    <input type="checkbox" name="header__input" id="header__input" class="header__input">
                    <label for="header__input" class="header__label"></label>
                </li>
                <li class="header__products">
                    <p class="header__texter">Вітаємо, User!</p>
                </li>
            </ul>
        </div>
    </div>
</header>