<section class="modal__name">
  <button type="button" class="modal__name__close" aria-label="Закрити модалку">
    <svg
      viewBox="0 0 24 24"
      class="close-icon"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line x1="4" y1="4" x2="20" y2="20" />
      <line x1="20" y1="4" x2="4" y2="20" />
    </svg>
  </button>

  <div class="modal_name__text">
    <p class="modal_name__hello">Привіт!</p>
    <p class="modal_name__message">
      Ви потрапили на сайт інтерактивних ігор та завдань<br />
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br />
      Бажаємо Вам гарно провести час!
    </p>
  </div>

  <div class="modal_name__form">
    <label for="username" class="modal_name__label">Введіть своє ім’я:</label>
    <input
      type="text"
      id="username"
      class="modal_name__input"
      placeholder="Ваше ім’я..."
    />
    <button class="modal_name__button">Зберегти</button>
  </div>
</section>