
    <div class="modal">
        <button type="button" class="modal__btn"><img src="./img/photo/icon-close.webp" alt="close" class="modal__photo"></button>
        <ul class="modal__list">
            <li class="modal__item"><img src="./img/photo/sword.webp" alt="sword" class="modal__img"></li>
            <li class="modal__item"><h1 class="modal__title">Дякую за підписку!</h1></li>
            <li class="modal__item"><img src="./img/photo/console.webp" alt="console" class="modal__img"></li>
        </ul>
        <ul class="modal__lists">
            <li class="modal__items"><img src="./img/photo/puzzle.webp" alt="puzzle" class="modal__img"></li>
            <li class="modal__items"><img src="./img/photo/game.webp" alt="game" class="modal__img"></li>
        </ul>
    </div>