<section class="our__team" id="our__team">
<div class="slider container">
  <h3 class="slider__title">Наша команда</h3>

  <img class="slider__image" id="teamImage" src="" alt="Фото учасника" />
  <div class="slider__name" id="teamName">Ім’я студента</div>
  <div class="slider__info" id="teamInfo">
    Інформація про роботу, яку він/вона виконав/ла
  </div>

  <div class="slider__nav">
    <svg
      class="slider__arrow"
      id="prev"
      xmlns="http://www.w3.org/2000/svg"
      width="52"
      height="102"
      viewBox="0 0 52 102"
      fill="none"
    >
      <path d="M51 1L1 51L51 101" stroke="black" />
    </svg>
    <svg
      class="slider__arrow"
      itemid="next"
      id="next"
      xmlns="http://www.w3.org/2000/svg"
      width="52"
      height="102"
      viewBox="0 0 52 102"
      fill="none"
    >
      <path d="M1 1L51 51L1 101" stroke="black" />
    </svg>
  </div>
  <div class="slider__dots" id="dots"></div>
</div>