<section class="random-number container">
  <h2 class="random-number__title">Вгадай число, яке загадав комп’ютер, від 1 до 10</h2>
  <div class="random-number__box">
    <input
      type="number"
      placeholder="Введіть число"
      class="random-number__number"
    />
    <button class="random-number__btn">
      <img
        src="./img/photo/search.webp"
        alt="search"
        class="random-number__img"
      />
    </button>
  </div>
  <p class="random-number__text">чекаємо на відповідь</p>
  <div class="stick"></div>
</section>